<h1>Discover Movies</h1>
<% @movies.each do |movie| %>
  <section class="movie">
  <p class="title">
    Movie Title: <%= movie.title %>
  </p>
  <p class="vote_average">
    Vote Average: <%= movie.vote_average %>
  </p>
  </section>
<% end %>
